# build output
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.production

# testing
coverage/
playwright-report/
test-results/
reports/
.lighthouseci/

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# logs
npm-debug.log*
*.log

# OS
.DS_Store
